@page
@model WebApplication_StandardInventDays.Pages.Add_DataModel
@{
}
   
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-6">
                <div class="header-tittle" style="margin-bottom: 50px;">
                    <h2>Add Data</h2>
                    <p>Welcome User</p>
                </div>
            </div>
        </div>

       
        <div class="card-cr flex-fill w-100 h-100 mb-10">
            <div class="header-form-card">
                <h2>Add Item For Standard Inventory Days</h2>
            </div>

            <form id="myForm" asp-action="Add_Data" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="upload-form">
                            <div class="form-group row">
                                <label asp-for="Sid.Fac" class="col-form-label col-md-3">Fac</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.Fac" class="form-control" placeholder="Enter Fac" id="Sid_Fac" readonly>
                                    <span asp-validation-for="Sid.Fac" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.ItemNo" class="col-form-label col-md-3">Item Number</label>
                                <div class="col-md-9">
                                    <select asp-for="Sid.ItemNo" class="form-control" asp-items="ViewBag.ItemNo" id="Sid_ItemNo" onchange="fetchMaterialListData(this.value)"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.ItemDesc" class="col-form-label col-md-3">Item Desc</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.ItemDesc" class="form-control" placeholder="Enter Item Desc" id="Sid_ItemDesc" readonly>
                                    <span asp-validation-for="Sid.ItemDesc" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.UoM" class="col-form-label col-md-3">UoM</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.UoM" class="form-control" placeholder="Enter UoM" id="Sid_UoM" readonly>
                                    <span asp-validation-for="Sid.UoM" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.VendorType" for="listInput" class="col-form-label col-md-3">Vendor Type</label>
                                <div class="col-md-9">
                                    <select asp-for="Sid.VendorType" asp-items="ViewBag.VendorType" class="form-control" id="listInput">
                                        <option value="IMP">IMP</option>
                                        <option value="LOC">LOC</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                            <label asp-for="Sid.ProdLt" class="col-form-label col-md-3">Production Lead Time</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.ProdLt" class="form-control" placeholder="Enter Production Lead Time">
                                    <span asp-validation-for="Sid.ProdLt" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.MonthlyConsume" class="col-form-label col-md-3">Monthly Consume</label>
                                <div class="col-md-9">
                                    <input  asp-for="Sid.MonthlyConsume" type="text" class="form-control" placeholder="Enter Monthly Consume">
                                    <span asp-validation-for="Sid.MonthlyConsume" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.CapacityDifferent" class="col-form-label col-md-3">Capacity Different</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.CapacityDifferent" class="form-control" placeholder="Enter Capacity Different">
                                    <span asp-validation-for="Sid.CapacityDifferent" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="upload-form">
                            
                            <div class="form-group row">
                                <label asp-for ="Sid.DeliveryCycle" class="col-form-label col-md-3">Delivery Cycle</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.DeliveryCycle" class="form-control"  placeholder="Enter Delivery Cycle">
                                    <span asp-validation-for="Sid.DeliveryCycle" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.Consumption" class="col-form-label col-md-3">Consumption</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.Consumption" class="form-control" placeholder="Enter Consumption">
                                    <span asp-validation-for="Sid.Consumption" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.Reject" class="col-form-label col-md-3">Reject</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.Reject" class="form-control" placeholder="Enter Reject">
                                    <span asp-validation-for="Sid.Reject" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.MoQ" class="col-form-label col-md-3">MoQ</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.MoQ" class="form-control" placeholder="Enter MoQ">
                                    <span asp-validation-for="Sid.MoQ" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                            <label for="listInputForm" class="col-form-label col-md-3">Formula</label>
                                <div class="col-md-9">
                                <select class="form-control" id="listInputForm" name="formula">
                                    <option value="pilihan">-Pilihan-</option>
                                    <option value="Formula1">Formula 1</option>
                                    <option value="Formula2">Formula 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Sid.Hasil" for="hasil" class="col-form-label col-md-3">Hasil</label>
                                <div class="col-md-9">
                                    <input asp-for="Sid.Hasil" type="text" class="form-control" id="hasil" placeholder="" readonly>
                                </div>
                            </div>

                        </div>
                        
                        <div class="button-AddData">
                            <a href="" class="btn btn-primary" id="processButton">Process</a>
                            <a href="" class="btn btn-danger" id="clearButton">Clear</a>
                            <input type="submit" class="btn btn-success" value="Simpan">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
    function roundNumber(number, precision) {
        var factor = Math.pow(10, precision);
        return Math.round(number * factor) / factor;
    }

    $("#processButton").click(function (e) {
        e.preventDefault();
        

         // Fetch values from the form
        var prodLt = parseFloat($("#Sid_ProdLt").val());
        var capacityDifferent = parseFloat($("#Sid_CapacityDifferent").val());
        var deliveryCycle = parseFloat($("#Sid_DeliveryCycle").val());
        var consumption = parseFloat($("#Sid_Consumption").val());
        var reject = parseFloat($("#Sid_Reject").val());
        var moQ = parseFloat($("#Sid_MoQ").val());
        var monthlyConsume = parseFloat($("#Sid_MonthlyConsume").val());

        var formula = $("#listInputForm").val();

        if (formula === "Formula1") {
            var x1 = roundNumber((prodLt + capacityDifferent + deliveryCycle - consumption) * (1 + (reject / 100)), 1);
            var x2 = roundNumber((((moQ / monthlyConsume) * 30) - consumption), 1);

            $("#hasil").val(x1 > x2 ? x1 : x2);
        } else if (formula === "Formula2") {
            $("#hasil").val(roundNumber((prodLt + capacityDifferent + deliveryCycle - consumption) * (1 + (reject / 100)), 1));
        } else {
            alert("Please select a valid formula.");
        }
    });

    $("#clearButton").click(function (e) {
        e.preventDefault();
        $('#Sid_Fac, #Sid_ItemDesc, #Sid_UoM, #Sid_Hasil').prop('readonly', true);
        $("form")[0].reset();
        $("#hasil").val("");
    });

    function fetchMaterialListData(itemNo) {
        $.ajax({
            type: 'GET',
            url: '/Add_Data?handler=GetMaterialList',
            data: { itemNo: itemNo },
            success: function (data) {
                $('#Sid_ItemDesc').val(data.itemDesc).prop('readonly', true);
                $('#Sid_UoM').val(data.uoM).prop('readonly', true);
            }
        });
    }
</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

