@page
@model WebApplication_StandardInventDays.Pages.Consume3MonthModel
@{

}

<script src="~/js/consume3month.js"></script>

<div class="container-fluid p-0">
        <div class="d-flex justify-content-between ">
            <div class="header-tittle">
                <h2 class="ByAMonth">Report Monthly : Consume by 3 Month</h2>
                <p>Top 50 Amount & Days with Standard Inventory Days BU</p>
            </div>
            <div class="dropdown-1">
                <select class="custom-select" id="dropdownMenuButton1">
                    <option value="SID" selected>STANDARD INVENTORY DAYS</option>
                    <option value="Negative">NEGATIVE LIST</option>
                </select>
            </div>

            <div class="dropdown-2">
                <select class="custom-select" id="dropdownVMINon">
                    <option value="VMI" selected>INVENTORY VMI</option>
                    <option value="NonVMI">INVENTORY NON VMI</option>
                </select>
            </div>
        </div>
    


        @*headercttn*@
        <div class="col-9">
            <div class="row">
                <div class="col-2 m-0">
                    <div class="headcttn1">
                        <h5>IAQ</h5>
                    </div>   
                </div>
                <div class="col-3 m-0">
                    <div class="headcttn2">
                        <h5>AUGUST 2023</h5>
                    </div>
                </div>
                <div class="col-4 m-0">
                    <div class="headcttn3">
                        <h5>Data Updated : 9/8/2023 7:36:56 AM</h5>
                    </div>
                </div>
            </div>
        </div>
        


    <div class="flex-fill w-100 h-100 mb-10">
        <div class="ViewTable">
            <table class="display" border="0" id="view-table">
                <thead>
                    <tr>
                        <th class="no-column" rowspan="2">No</th>
                        <th class="itemno-column" rowspan="2">Item Number</th>
                        <th class="itemdesc-column" rowspan="2">Item Description</th>
                        <th rowspan="2">UoM</th>
                        <th rowspan="2">MoQ</th>
                        <th rowspan="2">I/L</th>
                        <th rowspan="2">Std Price</th>
                        <th rowspan="2">Std Invt Days</th>
                        <th colspan="5" class="month-header">January</th>
                        <th rowspan="2" class="AnlyHeader">Analysis & Action</th>
                        <th colspan="4" class="month-header">February</th>
                        <th colspan="4" class="month-header">Maret</th>
                        <th colspan="1" class="month-header">April</th>
                        <th colspan="2" class="month-header">Buyer</th>
                    </tr>
                    <tr>

                        <th class="body-header3M">Consume</th>
                        <th class="body-header3M">Reserved</th>
                        <th class="body-header3M">Inventory Amount</th>
                        <th class="body-header3M">Days</th>
                        <th class="body-header3M">Different</th>

                        <!-- Sub-headers for February -->
                        <th class="body-header3M">Consume</th>
                        <th class="body-header3M">Reserved</th>
                        <th class="body-header3M">Inventory Amount</th>
                        <th class="body-header3M">Days</th>
                        <!-- Sub-headers for Maret -->
                        <th class="body-header3M">Consume</th>
                        <th class="body-header3M">Reserved</th>
                        <th class="body-header3M">Inventory Amount</th>
                        <th class="body-header3M">Days</th>
                        <!-- Sub-headers for April -->
                        <th class="body-header3M">Consume</th>
                        <!-- Sub-headers for Buyer -->
                        <th class="body-header3M">Code</th>
                        <th class="body-header3M">Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="item-number">DROP350JA0Z</td>
                        <td class="item-description">AC CORD 350JA</td>
                        <td class="uom">PC</td>
                        <td class="moq">500</td>
                        <td class="il">D</td>
                        <td class="std-price">6,439</td>
                        <td class="std-invt-days">13.3</td>

                        <td class="january-sub-header">3.456</td>
                        <td class="january-sub-header">1.89</td>
                        <td class="january-sub-header">2.50</td>
                        <td class="january-sub-header">-</td>
                        <td class="january-sub-header">-</td>

                        <!-- Sub-headers for Analysis & Action -->
                        <td class="january-sub-header">-</td>
                        <!-- Sub-headers for February -->
                        <td class="january-sub-header">8.675</td>
                        <td class="january-sub-header">6.374</td>
                        <td class="january-sub-header">12.98</td>
                        <td class="january-sub-header">-</td>
                        <!-- Sub-headers for Maret -->
                        <td class="january-sub-header">6.54</td>
                        <td class="january-sub-header">0.00</td>
                        <td class="january-sub-header">0.56</td>
                        <td class="january-sub-header">46</td>
                        <!-- Sub-headers for April -->
                        <td class="january-sub-header">23.53</td>
                        <!-- Sub-headers for Buyer -->
                        <td class="january-sub-header">RWB</td>
                        <td class="january-sub-header">SUGENG WIDODO</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="dark-mode-toggle">
    <input type="checkbox" id="dark-mode-toggle" />
    <label for="dark-mode-toggle"></label>
</div>*@




@*================== SCRIPT JS PLUGIN DATATABLES ===================*@
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        var table = js('#view-table').DataTable({
            "paging": false,
            "columnDefs": [
                { "orderable": true, "targets": [0] }, // Enable sorting for the first column (index 0)
                { "orderable": true, "targets": "_all" } // Disable sorting for all other columns
            ]
        });


        js('.dataTables_filter').addClass('fixed');


        js('.dataTables_filter input').attr('placeholder', 'Search...');
        js('.dataTables_filter label').prepend('<i class="fa fa-search"></i> ');
    });
</script>
@*================== END SCRIPT JS PLUGIN DATATABLES ===================*@
@*
"columnDefs": [
                { "targets": [14], "orderable": false, "searchable": false }
            ]
*@