@page
@model WebApplication_StandardInventDays.Pages.DashboardModel
@{

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-6">
                <div class="header-tittle" style="margin-bottom: 25px;">
                    <h2>Dashboard</h2>
                    <p>Welcome User</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right ml-auto">
                    <!-- Gunakan class ml-auto di sini -->
                    <div class="button-header">
                        <a class="button" asp-page="/Add_Data">
                            <i class="fas fa-plus" style=""></i>
                        Add Data</a>
                    </div>
                </div>
            </div>
        </div>

        @*Baris Chart Pertama*@
        <div class="chartFirst">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card half-color-card">
                        <div class="top-background green-background">
                            <h5 class="card-title">32%</h5>
                            <h5 class="card-title">IMP</h5>
                        </div>
                        <div class="white-background">
                            <div class="label-left">0</div>
                            <div class="progress">
                                <div class="progress-bar progress-barIMP" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label-right">100</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card half-color-card">
                        <div class="top-background red-background">
                            <h5 class="card-title">65%</h5>
                            <h5 class="card-title">LOC</h5>
                        </div>
                        <div class="white-background">
                            <div class="label-left">0</div>
                            <div class="progress">
                                <div class="progress-bar progress-barLOC" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label-right">100</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card half-color-card">
                        <div class="top-background purple-background">
                            <h5 class="card-title">97%</h5>
                            <h5 class="card-title">ALL</h5>
                        </div>
                        <div class="white-background">
                            <div class="label-left">0</div>
                            <div class="progress">
                                <div class="progress-bar progress-barALL" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="label-right">100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Baris Chart Kedua*@
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3 header-chart">
                            <div>
                                <h5 class="card-title mb-1">Grafik 1</h5>
                                <p class="card-text">Per Month</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-typeChart" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    VMI
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item active" value="VMI">VMI</a>
                                    <a class="dropdown-item" value="NonVMI">NON VMI</a>
                                </div>
                            </div>
                        </div>
                        <canvas id="grafik1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="grafik2"></canvas>
                    </div>
                </div>
            </div>
        </div>

        @*Baris Chart Ketiga*@
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="progress-container">
                            <div class="progress-ring">
                                <div class="progress-circle circle-1">
                                    <div class="progress-label">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="progress-container">
                            <div class="progress-ring">
                                <div class="progress-circle circle-2">
                                    <div class="progress-label">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="progress-container">
                            <div class="progress-ring">
                                <div class="progress-circle circle-3">
                                    <div class="progress-label">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="progress-container">
                            <div class="progress-ring">
                                <div class="progress-circle circle-4">
                                    <div class="progress-label">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
