@*@page
@model WebApplication_StandardInventDays.Pages.Page2Model
@{
    <div class="container-fluid p-0">
        <div class="row">

            <div class="d-flex justify-space-between">
                <div class="title-page">
                  <h2>Dashboard</h2>
                </div>
                <div class="icon-header">
                    <a href="#"><i class="fas-fa-user">a</i></a>
                    <a href="#"><i class="fas-fa-user">a</i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-space-between">
                            <div class="title-header">
                                <h3>Hello Hamdan</h3>
                                <p>Selamat Datang di Admin SID PT Panasonic Manufacturing Indonesia</p>
                            </div>
                            <div class="image-header">
                                <img src="/img/image2.svg">
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
       

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div></div>
                    </div>
                </div>
            </div>
    </div>   
    </div>
}

*@