@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6">
            <div class="header-tittle" style="margin-bottom: 50px;">
                <h2>Information</h2>
                <p>Welcome User</p>
            </div>
        </div>
    </div>
    <div class="card-cr flex-fill w-100 h-100 mb-10">
        <div class="header-form-info">
            <div class="info-head">
                <div class="d-flex justify-content-between">
                    <div class="info-img1">
                        <img src="~/img/Group 222.svg" />
                    </div>
                    <div class="info-img2">
                        <img src="~/img/image2.svg" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="info-form">
                    <p align="justify">The "Standard Inventory Days" web application is a tool used in inventory management to measure the average number of days that a company's inventory items are stored before being sold or used in the production process. Its purpose is to identify how efficiently a company manages its inventory, with a lower value indicating higher efficiency in reducing storage costs and the risk of items becoming obsolete. This application assists companies with automatic calculations, data analysis, cost control, inventory optimization, and demand prediction. Data security and the possibility of integration with larger inventory management systems are also important considerations in using this application. With the help of the "Standard Inventory Days" application, companies can improve their inventory management and make better decisions regarding inventory management.</p>
                    <p class="info-form-address">
                        Email : Panasonic@mail.com<br />
                        Telp    : 012345678<br />
                        Address : Panasonic Manufacturing Indonesia, Jl. Raya Jakarta-Bogor No.KM.29,<br />
                        Pekayon, Kec. Ps. Rebo, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13710
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
